/* General Styles */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(207 183 148 / 100%);
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 70px;
    width: 100%;
}

body {
    font-family: "Lora", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #ccccba;
}

section {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #f8f6f2;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-family: "Lora", serif;
    font-size: 32px;
    font-weight: bold;
    color: #4a403a;
}

h2 {
    font-family: "Lora", serif;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #4a403a;
    text-align: center;
}

p {
    word-spacing: normal;
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
}

section p {
    max-width: 700px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #8b5e3c;
}

a:hover {
    color: #6b8e23;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Header Styling */

/* Brand (logo + title) */
.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Logo */
.logo img {
    max-height: 50px;
    width: auto;
    object-fit: contain;
}

/* Title */
.title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    word-spacing: -0.5rem;

}

.brand h1 {
    margin: 0;
    padding: 0;
    color: #4a403a;
    font-family: "playfair-display", cursive;
    font-size: 40px;
}

.title span {
    display: inline-block;
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
}

/* Navigation */
.nav {
    font-family: "Lora", serif;
    display: flex;
    gap: 15px;
    padding: 10px;
    height: 100%;
    align-items: center;
}

.nav li {
    list-style: none;
}

/* Links inside navbar */
.nav li a {
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    color: #4a403a;
    font-size: 14px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #f4efe2;
}


/* Main Content */
main {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #4a403a;
    padding-top: 90px;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('ai-foot.webp');
    background-color: rgb(207 183 148 / 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

/* Overlay color */
main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(207 183 148 / 60%);
    z-index: -1;
}


/* Intro */
.intro-container {
    position: relative;
    background-image: url("action1.jpeg");
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}

.intro-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1;
}

.intro-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin: 0 auto;
}

.intro-content h2 {
    flex: 1;
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    margin: 10;
    color: #dbd0c9;
    text-align: center;
}

.intro-content p {
    flex: 2;
    font-family: "Lora", serif;
    font-size: 1em;
    line-height: 1.6;
    margin: 10px;
    color: #ccc5c0;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
    max-width: 400px;
}

/* About */
.about-container {
    padding: 2rem;
    margin: 0;
}

.about h2 {
    margin: 0;
}


.about-container p {
    font-weight: 400;
}

.about-image-text {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.about-image img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-container span {
    white-space: nowrap;
}

/* Services */

.services ul li {
    margin: 20px 0;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.services ul li strong {
    color: #4a403a;
}

.services ul li .price {
    color: #8b5e3c;
}

.services ul li .duration {
    color: #4a403a;
}


.service-item-with-image {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.service-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-item {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .75em;
}

.service-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-item ul li {
    margin: 0;
    line-height: 1.6;
    font-weight: 100;
}

.service-item-with-image.flipped {
    flex-direction: row-reverse;
}

/* Booking */

.booking-button {
    padding: 12px 24px;
    color: #fff;
    background-color: #3e5318c4;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.booking-button:hover {
    color: #fcfcfc;
    background-color: #658627c4;
}

/* Intro, Services, and Booking */

.intro,
.services,
.booking {
    text-align: center;
    margin-bottom: 40px;
}


/* Testimonials */
.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
}

.wrapper {
    background-color: #a8876e;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    display: flex;
    position: relative;
    transform: none;
    left: auto;
    top: auto;
}

.testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
    background-color: #a8876e;
}

.wrapper button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #11310d;
    box-shadow: 0 0 1em rgba(207, 183, 148);
    cursor: pointer;
    border-radius: 50%;
}

button#next {
    right: -1.1em;
}

button#prev {
    left: -1.1em;
}

.testimonial-container p {
    color: #174619;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: normal;
}

.testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    border-radius: 50%;
    width: 4.4em;
}

.testimonial-container h3 {
    color: #3d672d;
    font-size: 1em;
    text-align: center;
}

.testimonial-container h6 {
    color: #c5dabc;
    font-size: 0.9em;
    letter-spacing: normal;
    font-weight: 400;
    text-align: center;
}

/* Footer */
footer {
    background-color: rgb(207 183 148 / 100%);
    padding: 20px;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.footer-nav li a {
    padding: 5px 10px;
    color: #4a403a;
}

.footer-nav li a:hover {
    background-color: #f4efe2;
}

.contact p {
    margin: 5px 0;
    color: #4a403a;
}


/* Font Styles */
.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4a403a;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #4a403a;
}

.ephesis-regular {
    font-family: "Ephesis", serif;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: normal;
    color: #4a403a;
    position: relative;
    top: 20px;
}

.sono-extralight200 {
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "MONO" 0.48;
    letter-spacing: normal;
    color: #4a403a;
}

.montecarlo-regular {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
}

.cedarville {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lora-italic {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Smaller Screens */

@media screen and (max-width: 768px) {
    p {
        text-align: left;
    }

    section p {
        word-wrap: break-word;
    }

    .about-image-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
        word-spacing: normal;
        letter-spacing: normal;
    }

    .about-image img {
        max-width: 100%;
        height: auto;
    }

    .about h2 {
        font-size: 24px;
    }

    .about p {
        font-size: 16px;
        line-height: 1.6;
        word-spacing: normal;
        letter-spacing: normal;
    }

    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        background-color: #333;
        z-index: 999;
    }

    .nav li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .nav li a {
        padding: 12px;
        font-size: 18px;
    }

    .nav.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        background-color: #333;
        border: none;
        color: white;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
    }

    body {
        padding-top: 50px;
    }

    p,
    .about p,
    .service-item ul li {
        font-size: 1.1em;
    }
}


